.App {
  background-color: beige;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.title {
  margin-left: 20px;
}

.row-template {
  align-items: left;
  vertical-align:middle;
  display: flex;
  flex-direction: row;
  padding: 20px;
  background-color:lightslategray;
  margin: 20px;
}

.project-name {
  max-width: 20%;
  margin: 20px;
}

.project-user {
  max-width: 30%;
  margin: 20px;
}

.project-set {
  justify-content: center;
  text-align: center;
  margin: 20px;
}

.project-set-ind {
  padding: 10px;
  max-width: 25%;
}